<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- add entry to enable component scanning -->

    <bean id="myFortune" class="com.gavin.springdemo.HappyFortuneService" />
    <bean id="randomFortune" class="com.gavin.springdemo.RandomFortuneService" />
    <bean id="myTrackCoach" class="com.gavin.springdemo.TrackCoach" >
        <constructor-arg ref="randomFortune"></constructor-arg>
    </bean>

    <bean id="myCricketCoach" class="com.gavin.springdemo.CricketCoach" >
        <property name="fortuneService" ref="randomFortune"/>
        <property name="email" value="${email}"/>
    </bean>

    <bean id="myPingPongCoach" class="com.gavin.springdemo.PingPongCoach" scope="prototype" init-method="init" destroy-method="destroy">
    </bean>

    <context:property-placeholder  location="classpath:service.properties"/>
</beans>





